@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.bg-color-name-title {
    background-color: #676767;
    color: #FFFFFF;
}

.ui-menu-color-home {
    background-color: #FFD700;
    /*padding-left: 50px;*/
}

.ui-menu-color-music {
    background-color: #ADFF2F;
    /*padding-left: 50px;*/
}

.ui-menu-color-film {
    background-color: #98FB98;
}

.ui-menu-color-music {
    background-color: #FFA07A;
}

.ui-menu-color-photos {
    background-color: #ADFF2F;
}

/* Special Paddings/Margins/Text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

/* HEADING */

header {
    margin: 0;
}

.heading {
    text-align: center;
}

.row-table {
    display: table;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.heading {
    text-align: center;
}

.heading {
    text-align: center;
}

.heading {
    text-align: center;
}

.name {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 90px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #000000;
    height: 90px;
}

.menuitem a i {
    padding-top: 12px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

.col-xs-12.col-sm-6.col-lg-4.left-side {z-index: 100}

.hvr-sweep-to-bottom:after {
background: rgba(0, 0, 0, 0.2);
    height: 90px
}

/* FOOTER */

footer {
    background-color: #525252;
    color: #fafafa;
    max-height: 100px;
    margin: 50px;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    /*-moz-transition: all 0.35s ease-in-out;*/
    /*-webkit-transition: all 0.35s ease-in-out;*/
    /*-o-transition: all 0.35s ease-in-out;*/
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    margin: 20px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.pad20 {
    padding-left: 20px;
    padding-right: 20px;
    /*word-wrap: break-word;
    /*letter-spacing: 1em;*/
}
