@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');


/* Split the screen in half */
/*.split {*/
/*  height: 100%;*/
/*  width: 60%;*/
/*  position: fixed;*/
/*  z-index: 1;*/
/*  top: 0;*/
/*  overflow-x: hidden;*/
/*  padding-top: 20px;*/
/*  background-color: red;*/
/*}*/
/*.right {*/
/*  right: 0;*/
/*  background-color: red;*/
/*}*/

.bg-color-name-title
{    background-color: #676767;
}

.ui-menu-color-about_us{
    background-color: #FFD700;
    /*padding-left: 50px;*/
}

.ui-menu-color-videos{
    background-color: #98FB98;
}

.ui-menu-color-music{
    background-color: #FFA07A;
}

.ui-menu-color-photos{
    background-color: #ADFF2F;
}

/* Special Paddings/Margins/Text */
/*h1,
h2,
h3,
h4 {
    margin 0;
}
*/

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #fafafa;
}
/*
.inline-block {
    display: inline-block;    
}

/* HEADING */

header{
    margin: 0;
}            

.heading{
/*    margin-left: 50px;*/
    text-align: center;
}            

/*.dj{
    max-height: 100px;
}*/
/*.dj{
    background: url("../assets/images/dj.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;*/
/*}*/

/*.cover1{
    background: url("../assets/images/dj.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 360px;
}*/

.cover2{
    background: url("../assets/images/cover2.png");
/*    background-position: left;*/
    background-position: center;
/*    margin-left: 10-px;*/
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 20px;
/*    min-height: 470px;*/
}

/*.cover2a{*/
/*    background: url("../assets/images/cover2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 470px;
    
}*/

.play_videos{
    margin-left: 30px;
}

/*    transition: all .5s ease-in-out;
/*    min-height: 360px;
/*    -moz-transition: all .5s ease-in-out;
/*    -webkit-transition: all .5s ease-in-out;*/

.name{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 30px;    
    margin-top: 10px;
    color:#ffffff;
}    

.title{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #ffffff; 
}

#nav{
    margin: 0;
}

#nav li{
    padding: 0;
}

.menuitem{
    height: 50px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width:100%;
    text-decoration: none;
    color: #000000;
    height:50px;
}

.menuitem a i{
    padding-top: 12px;
    display: block;
    color: #fafafa;
    font-size: 26px;
    height: 50px;
}

.menuitem span{
    display: block;
    width: 100%;
/*    padding-top: 5px;*/
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
/*    height: 100px;*/
}

/* HOVER */

.hvr-sweep-to-bottom:before{
    background: rgba(0, 0, 0, 0.2);
    height: 89px;
}  

/* FOOTER */
footer{
    background-color: #525252;
    color: #fafafa;
    max-height: 100px;
    margin: 50px;
}